1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
 You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#importing libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")#taking chrome to wikipedia site

In [7]:
driver.execute_script("window.scrollBy(0,1000)")

In [77]:
ranks=[]
names=[]
artists=[]
views=[]
dates=[]

In [79]:
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]"):
        ranks.append(i.text.replace('.',''))
for j in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]"):
        names.append(j.text)
for k in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]"):
        artists.append(k.text)
for l in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]"):
        views.append(l.text)
for m in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]"):
        dates.append(m.text)

In [82]:
# making dataframe
import pandas as pd
df=pd.DataFrame({})
df['ranks']=ranks[0:30]
df['names']=names[0:30]
df['artists']=artists[0:30]
df['views(in billions)']=views[0:30]
df['dates']=dates[0:30]
df

,ranks,names,artists,views(in billions),dates
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
3,4,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7,"""Uptown Funk""[31]",Mark Ronson,4.19,"November 19, 2014"
7,8,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.12,"February 27, 2018"
8,9,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
9,10,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,3.90,"March 6, 2014"
11,12,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14,"""Dame Tu Cosita""[39]",El Chombo,3.37,"April 5, 2018"
14,15,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17,"""Thinking Out Loud""[42]",Ed Sheeran,3.26,"October 7, 2014"
17,18,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19,"""Faded""[44]",Alan Walker,3.07,"December 3, 2015"
19,20,"""Shake It Off""[45]",Taylor Swift,3.06,"August 18, 2014"
20,21,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
21,22,"""Lean On""[47]",Major Lazer,3.04,"March 22, 2015"
22,23,"""Bailando""[48]",Enrique Iglesias,3.04,"April 11, 2014"
23,24,"""Girls Like You""[49]",Maroon 5,3.04,"May 31, 2018"
24,25,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26,"""Mi Gente""[51]",J Balvin,2.92,"June 29, 2017"
26,27,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30,"""Axel F""[55]",Crazy Frog,2.82,"June 16, 2009"

In [83]:
df['names']=df['names'].apply(lambda x:x.split('[')[0])#removing bracket and its insides
df["names"]=df["names"].str.replace('"','')#removing "" from name column
df

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [137]:
#loading libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.bcci.tv/.")

In [138]:
fixture=driver.find_element_by_xpath("/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a").get_attribute("href")#getting url of fixture

In [139]:
driver.get(fixture)#taking webpage to fixture

In [140]:
title=[]
series=[]
place=[]
date=[]
month=[]
time=[]

In [141]:
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    title.append(i.text)
for j in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(j.text)
for k in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(k.text)
for l in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span"):
    date.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[1]"):
    month.append(m.text)
for n in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]"):
    time.append(n.text)

In [142]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['title']=title
df['series']=series
df['place']=place
df['date']=date
df['month']=month
df['time']=time
df

,title,series,place,date,month,time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18,JUNE,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

In [143]:
df['Date']=df['date']+[' ']+df['month']
df.drop(['date','month'],axis=1,inplace=True)
df

,title,series,place,time,Date
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",15:00 IST,18 JUNE
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04 AUGUST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12 AUGUST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25 AUGUST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02 SEPTEMBER
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10 SEPTEMBER

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [1]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.get(" https://www.guru99.com/")#load url

In [2]:
#going to selenium page
selenium=driver.find_element_by_xpath("//div[@class='row featured-boxes']/div/div/ul/li[3]/a").get_attribute("href")
driver.get(selenium)

In [14]:
exceptionurl=driver.find_element_by_xpath("//div[@class='span12']/div/div[2]/table[5]/tbody/tr[34]/td[1]/a").get_attribute("href")

In [16]:
#taking webpage to selenium exception url
driver.get(exceptionurl)

In [21]:
name=[]
description=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    description.append(j.text)

In [22]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['name']=name[1:]
df['description']=description[1:]
df

,name,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.get("http://statisticstimes.com/")#load url

In [2]:
india=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute("href")#abstract url
driver.get(india)#take url to india economy

In [3]:
driver.get(driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute("href"))

In [20]:
rank=[]
state=[]
gsdp20=[]
gsdp19=[]
share=[]
gdp=[]

In [21]:
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]"):
    rank.append(i.text)
for j in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]"):
    state.append(j.text)
for k in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]"):
    gsdp20.append(k.text)
for l in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]"):
    gsdp19.append(l.text)
for m in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(m.text)
for n in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]"):
    gdp.append(n.text)

In [24]:
import pandas as pd
df=pd.DataFrame({})
df['Rank']=rank
df['State']=state
df['GSDP(19-20)']=gsdp20
df['GSDP(18-19)']=gsdp19
df['Share']=share
df['Gdp(billion)']=gdp
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share,Gdp(billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [2]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.get(" https://www.github.com/")#load url
import time

In [3]:
explore=driver.find_element_by_xpath("//html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[1]/li/a").get_attribute("href")
driver.get(explore)#take url to explore

In [4]:
driver.find_element_by_xpath("//div[@class='d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left']/a[3]").click()

In [5]:
urls=[]
for i in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a"):
    urls.append(i.get_attribute("href"))

In [10]:
title=[]
description=[]
count=[]
used=[]
count1=[]
count2=[]

In [11]:
from selenium.common.exceptions import NoSuchElementException

In [12]:
for i in urls:
    driver.get(i)
    time.sleep(4)
    try:
        title.append(driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center break-word f3 text-normal']").text.replace('\n',''))
    except NoSuchElementException:
        title.append('--')
    try:
        description.append(driver.find_element_by_xpath("//p[@class='f4 mt-3']").text)
    except NoSuchElementException:
        description.append('--')
    try:
        count.append(driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/h2/a").text)
    except NoSuchElementException:
        count.append('--')
    try:
        count1.append(driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a").text)
    except NoSuchElementException:
        count1.append('--')
    try:
        count2.append(driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[3]/div/h2/a").text)
    except NoSuchElementException:
        count2.append('--')
        
    try:
        used.append(driver.find_element_by_xpath("//span[@class='color-text-primary text-bold mr-1']").text)
    except NoSuchElementException:
        used.append('--')

In [27]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['title']=title
df['description']=description
df['used']=used
df['count']=count
df['count1']=count1
df['count2']=count2
df

,title,description,used,count,count1,count2
0,madMAx43v3r/chia-plotter,--,C,--,Contributors 7,Packages
1,TuSimple/naive-ui,A Vue 3 Component Library. Fairly Complete. Cu...,TypeScript,--,--,Contributors 19
2,maaslalani/slides,Terminal based presentation tool,Go,--,Contributors 4,Packages
3,hashicorp/terraform,Terraform enables you to safely and predictabl...,Go,--,"Contributors 1,510",Packages
4,Charmve/computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,Jupyter Notebook,--,--,--
5,chinnkarahoi/jd_scripts,lxk0301/jd_scripts备份。不要star。不要fork。谢谢配合。,JavaScript,--,Contributors 65,Packages
6,apple/swift-algorithms,Commonly used sequence and collection algorith...,Swift,--,Contributors 33,Packages
7,protocolbuffers/protobuf,Protocol Buffers - Google's data interchange f...,C++,Contributors 754,Used by 141k,Packages
8,escape2020/school2021,ESCAPE Summer School 2021,Jupyter Notebook,Contributors 10,--,Packages
9,microsoft/playwright,"Node.js library to automate Chromium, Firefox ...",TypeScript,--,Contributors 116,Used by 3.8k
10,peng-zhihui/XUAN-Bike,--,--,--,--,Packages
11,PaddlePaddle/PaddleHub,Awesome pre-trained models toolkit based on Pa...,Python,--,--,Contributors 35
12,danistefanovic/build-your-own-x,🤓 Build your own (insert technology here),--,Contributors 69,--,Packages
13,fmeringdal/nettu-meet,Open source video conferencing system for tutors.,TypeScript,Contributors 2,--,Packages
14,snowpackjs/astro,"🚀🧑‍🚀 Keep your eyes to the skies, astronauts!",TypeScript,Contributors 14,--,Packages
15,PaperMC/Paper,High performance Spigot fork that aims to fix ...,Shell,--,Contributors 245,--
16,udacity/nd064_course_1,--,Python,Contributors 2,--,Packages
17,actions/virtual-environments,GitHub Actions virtual environments,PowerShell,Contributors 149,--,Packages
18,CaffeineMC/sodium-fabric,A Fabric mod designed to improve frame rates a...,Java,--,Contributors 23,--
19,OATML/non-parametric-transformers,"Code for ""Self-Attention Between Datapoints: G...",Python,Contributors 2,--,Packages
20,jwasham/coding-interview-university,A complete computer science study plan to beco...,--,Contributors 197,--,Packages
21,iamadamdev/bypass-paywalls-chrome,Bypass Paywalls web browser extension for Chro...,JavaScript,Contributors 52,--,Packages
22,facebook/folly,An open-source C++ library developed and used ...,C++,--,Contributors 570,Packages
23,PaddlePaddle/PaddleNLP,An NLP library with Awesome pre-trained Transf...,Python,--,Contributors 34,Used by 211
24,peng-zhihui/HoloCubic,带网络功能的伪全息透明显示桌面站,C,Contributors 2,--,Packages

In [28]:
df=df.replace("Packages",'--')#replace Packages by --
df['count1'].loc[7]="--"#replace used by numbers with --
df['count2'].loc[[9,23]]="--"#replace used by numbers with --

In [30]:
df['Count']=df['count']+df['count1']+df['count2']
import re
df['Count']=df['Count'].apply(lambda x:re.sub('[^0-9]','',x))#extract only numbers
df=df.drop(['count','count1','count2'],axis=1)
df

,title,description,used,Count
0,madMAx43v3r/chia-plotter,--,C,7
1,TuSimple/naive-ui,A Vue 3 Component Library. Fairly Complete. Cu...,TypeScript,19
2,maaslalani/slides,Terminal based presentation tool,Go,4
3,hashicorp/terraform,Terraform enables you to safely and predictabl...,Go,1510
4,Charmve/computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,Jupyter Notebook,
5,chinnkarahoi/jd_scripts,lxk0301/jd_scripts备份。不要star。不要fork。谢谢配合。,JavaScript,65
6,apple/swift-algorithms,Commonly used sequence and collection algorith...,Swift,33
7,protocolbuffers/protobuf,Protocol Buffers - Google's data interchange f...,C++,754
8,escape2020/school2021,ESCAPE Summer School 2021,Jupyter Notebook,10
9,microsoft/playwright,"Node.js library to automate Chromium, Firefox ...",TypeScript,116
10,peng-zhihui/XUAN-Bike,--,--,
11,PaddlePaddle/PaddleHub,Awesome pre-trained models toolkit based on Pa...,Python,35
12,danistefanovic/build-your-own-x,🤓 Build your own (insert technology here),--,69
13,fmeringdal/nettu-meet,Open source video conferencing system for tutors.,TypeScript,2
14,snowpackjs/astro,"🚀🧑‍🚀 Keep your eyes to the skies, astronauts!",TypeScript,14
15,PaperMC/Paper,High performance Spigot fork that aims to fix ...,Shell,245
16,udacity/nd064_course_1,--,Python,2
17,actions/virtual-environments,GitHub Actions virtual environments,PowerShell,149
18,CaffeineMC/sodium-fabric,A Fabric mod designed to improve frame rates a...,Java,23
19,OATML/non-parametric-transformers,"Code for ""Self-Attention Between Datapoints: G...",Python,2
20,jwasham/coding-interview-university,A complete computer science study plan to beco...,--,197
21,iamadamdev/bypass-paywalls-chrome,Bypass Paywalls web browser extension for Chro...,JavaScript,52
22,facebook/folly,An open-source C++ library developed and used ...,C++,570
23,PaddlePaddle/PaddleNLP,An NLP library with Awesome pre-trained Transf...,Python,34
24,peng-zhihui/HoloCubic,带网络功能的伪全息透明显示桌面站,C,2

6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [51]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.billboard.com/'
driver.get(url)#load url
import time

In [53]:
#click on chart
x=driver.find_element_by_xpath("//div[@class='header__sticky__child']/header/div/ul/li/a").get_attribute("href")
driver.get(x)
time.sleep(5)
driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']").click()#enter webpage to top hot 100

In [58]:
name=[]
artist=[]
last=[]
peak=[]
weeks=[]

In [59]:
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(j.text)
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last.append(k.text)
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks.append(m.text)

In [60]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['song name']=name
df['artist name']=artist
df['last week rank']=last
df['peak rank']=peak
df['weeks on board']=weeks
df

,song name,artist name,last week rank,peak rank,weeks on board
0,Butter,BTS,-,94,1
1,Good 4 U,Olivia Rodrigo,1,94,2
2,Deja Vu,Olivia Rodrigo,21,94,8
3,Levitating,Dua Lipa Featuring DaBaby,3,94,34
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,94,12
...,...,...,...,...,...
95,Country Again,Thomas Rhett,99,94,4
96,punchin'.the.clock,J. Cole,20,94,2
97,Wasted On You,Morgan Wallen,97,94,18
98,the.climb.back,J. Cole,25,94,4
99,Things A Man Oughta Know,Lainey Wilson,94,94,2

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [4]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)#load url
import time

In [5]:
recuiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute("href")
driver.get(recuiter)
time.sleep(2)

In [6]:
driver.find_element_by_xpath("//div[@class='inpWrap']/input").send_keys("Data Science")#giving input in searchpanel

In [7]:
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()#click on search

In [77]:
urls=[]#collecting url
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a"):
    urls.append(i.get_attribute("href"))

In [80]:
from selenium.common.exceptions import NoSuchElementException#for exception handling

In [94]:
name=[]
designation=[]
company=[]
skills=[]
location=[]

In [96]:
for i in range(len(urls)):
    driver.get(urls[i])
    time.sleep(4)
    try:
        name.append(driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']").text)
    except NoSuchElementException:
        name.append('--')
    try:
        designation.append(driver.find_element_by_xpath("//div[@class='ellipsis']").text)
    except NoSuchElementException:
        designation.append('--')
    try:
        company.append(driver.find_element_by_xpath("//a[@class='fl ellipsis widLrg']").text)
    except NoSuchElementException:
        company.append('--')
    try:
        location.append(driver.find_element_by_xpath("//h1[@class='fl ellipsis wLimit hd']").text)
    except NoSuchElementException:
        location.append('--')
    try:
        skills.append(driver.find_element_by_xpath("//div[@class='fl lPortn']/p").text)
    except NoSuchElementException:
        skills.append('--')

In [108]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['name']=name
df['designation']=designation
df['company']=company
df['location']=location
df['skills']=skills
df=df.iloc[::2]
df=df.reset_index()
df=df.drop('index',axis=1)
df

,name,designation,company,location,skills
0,Aakash Harit,HR Manager,Data Science Network,Aakash Harit,"Classic ASP Developer , Internet Marketing Pro..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,shravan Kumar Gaddam,".Net , Java , Data Science , Linux Administrat..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,MARSIAN Technologies LLP,"Mid Level, Junior Level"
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Anik Agrawal,", Mean Stack , javascript , angularjs , mongod..."
4,subhas patel,Founder & CEO,LibraryXProject,subhas patel,"Hadoop , Spark , Digital Strategy , Data Archi..."
5,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,Abhishek - Only Analytics Hiring - India and APAC,"Analytics , Business Intelligence , Business A..."
6,Institute for Financial Management and Research,Programme Manager,IFMR,Institute for Financial Management and Research,Analytics & Business Intelligence
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Balu Ramesh,"Machine Learning , algorithms , Go Getter , Co..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Asif Lucknowi,--
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,InstaFinancials,"Junior Level, Mid Level"
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Kalpana Dumpala,"Qa , Ui , ux , Java Developer , Java Architect..."
11,Mubarak,Company HR,MoneyTap,Mubarak,--
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Kushal Rastogi,--
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Ruchi Dhote,IT Skills
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Mahesh Babu Channa,"Junior Level, Mid Level"
15,Kapil Devang,HR Manager,BISP Solutions,Kapil Devang,"Big Data , Hadoop , Data Analytics , Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Manisha Yadav,Mid Level
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Riya Rajesh,IT-Software/Software Services
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,Rashmi Bhattacharjee,"Mid Level, Top Mangement Level"
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Faizan Kareem,"Data Analytics , Data Science , Machine Learni..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Rithika dadwal,"Junior Level, Mid Level"
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Azahar Shaikh,"Mid Level, High Level"
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Sandhya Khandagale,"High Level, Mid Level"
23,Shaun Rao,Manager - Human Resources,Exela Technologies,Shaun Rao,"Java , Net , Angularjs , Hr , Infrastructure ,..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,Manas,"High Level, Top Mangement Level"
25,kumar,Proprietor,trainin,kumar,"Data Science , Hadoop , Rpas , Devops , Python..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Sunil Vedula,"Signal Processing , Machine Learning , Neural ..."
27,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,Rajat Kumar,"Web Technologies , Project Management , Softwa..."
28,Priya Khare,Senior Manager,Independent Consultant,Priya Khare,--
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Dhruv Dev Dubey,"S. Finance Manager , Freshers , Experience , S..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Jayanth N,"Data Analytics , Managed Services , Team Leading"
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,SREEDHAR,--
32,Radha Manivasagam,HR Executive,Techcovery,Radha Manivasagam,Junior Level
33,Prateek Kumar,Head,Trisect,Prateek Kumar,Junior Level
34,Amit Sharma,Consultant,ASCO consulting,Amit Sharma,--
35,Kanan,senior technology instructor,NY INST,Kanan,"Mid Level, Junior Level"
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,Shashikant Chaudhary,--
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,Brad,"Junior Level, High Level"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,Rutuja Pawar,"Python , Php , Qa Automation , Ui , Wordpre"
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Madhusudhan Sridhar,--
40,Ankit Sinha,Head-Analytics,Suntech Global,Ankit Sinha,--
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Gaurav Chouhan,"Top Mangement Level, Junior Level"
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Rashi Kacker,"Data Science , Node.js , Angularjs"
43,Ashwini,"Director, Global Delivery",MRP Advisers,Ashwini,--
44,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,Balaji Kolli,--
45,Rajani Nagaraj,HR Manager,WildJasmine,Rajani Nagaraj,"java , hadoop , r , Machine Learning , spark ,..."
46,ROHIT Kumar,Architect,LNT Private Limited,ROHIT Kumar,"Mid Level, High Level"
47,Amir Chowdhury,Managing Partner,Granular.ai,Amir Chowdhury,--
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Shailja Mishra,--
49,Sunny Sharma,Managing Director - HR,Western Service Providers,Sunny Sharma,"Software Professionals , Engineering , Technic..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [9]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)#load url
import time

In [15]:
book=[]
author=[]
sold=[]
publisher=[]
genre=[]

In [17]:
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    book.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(j.text)
for k in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    sold.append(k.text)
for l in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(l.text)
for m in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(m.text)

In [19]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['Book name']=book
df['Author name']=author
df['Volume sold']=sold
df['Publisher']=publisher
df['Genre']=genre
df

,Book name,Author name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [20]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)#load url
import time

In [40]:
Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes=[]

In [41]:
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a"):
    Name.append(i.text)
for j in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]"):
    Year.append(j.text)
for k in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]"):
    Genre.append(k.text)
for l in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]"):
    Runtime.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class='lister-item-content']/div/div/span[2]"):
    Ratings.append(m.text)
for n in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    Votes.append(n.text)

In [43]:
#making dataframe
import pandas as pd
df=pd.DataFrame({})
df['Name']=Name
df['Year Span']=Year
df['Genre']=Genre
df['Run Time']=Runtime
df['Ratings']=Ratings
df['Votes']=Votes
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,819,352"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"861,064"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,239"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,251"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,519"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,504"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,990"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,192"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,825"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"190,845"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [76]:
#importing necessary libraries
import selenium
from selenium import webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
url='https://archive.ics.uci.edu/'
driver.get(url)#load url
import time

In [77]:
dataseturl=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a").get_attribute("href")
driver.get(dataseturl)#taking driver to view full dataset

In [98]:
Dataset=[]
Data=[]
Task=[]
Attribute=[]
instances=[]
attribute=[]
Year=[]

In [99]:
for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody"):
    Dataset.append(i.text)
for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p"):
    Data.append(j.text)
for k in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p"):
    Task.append(k.text)
for l in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p"):
    Attribute.append(l.text)
for m in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p"):
    instances.append(m.text)
for n in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p"):
    if n.text==' ':
        attribute.append("--")
    else:
        attribute.append(n.text)
for o in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p"):
    if n.text==' ':
        Year.append("--")
    else:
        Year.append(n.text)

In [105]:
#making datafeame
import pandas as pd
df=pd.DataFrame({})
df['Dataset']=Dataset
df['Data Type']=Data[1:]
df['Task']=Task[1:]
df['Attribute Type']=Attribute[1:]
df['No. of instances']=instances[1:]
df['No. of attribute']=attribute[1:]
df['Year']=Year[1:]
df

,Dataset,Data Type,Task,Attribute Type,No. of instances,No. of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,5
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,5
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,5
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,5
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,5
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,5
584,Gait Classification,Multivariate,Classification,Real,48,321,5
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,5
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,5
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,5